@model VietbankWebsite.ModelMap.CardSupportPostView
@{
    ViewData["Title"] = "Forms";
    Layout = "~/Views/Shared/_LayoutCard.cshtml";
}

<main>
    <section class="breadcrumb-wrap">
        <div class="breadcrumb-content">
            <div class="container">
                @Html.Raw(Model.SiteMap)
            </div>
        </div>
        <div class="page-banner">
            <div class="banner-img"><img class="lazyload" data-src="@Model.Path" src="@Model.Path" alt=""></div>
            <div class="container">
                <div class="banner-caption">
                    <div class="big">@Model.TitleBanner</div>
                    <div class="des">@Model.Description</div>
                </div>
            </div>
        </div>
    </section>
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-3">
                <nav class="sidebar-category">
                    <ul class="cate-link">
                        @foreach (var item in Model.Category)
                        {
                            if (!item.HasChild)
                            {
                                <li><a href="/@item.Url">@item.Title</a></li>
                            }
                            else
                            {
                                <li>
                                    <a href="#">@item.Title</a>
                                    <div class="btn-showsub"></div>
                                    <div class="sub">
                                        <ul>
                                            @if (item.Child != null)
                                            {
                                                foreach (var child in item.Child)
                                                {
                                                    <li>
                                                        <a href="@child.Url">@child.Title</a>
                                                    </li>
                                                }
                                            }
                                        </ul>
                                    </div>
                                </li>
                            }
                        }
                    </ul>
                </nav>
            </div>
            <div class="col-12 col-lg-9">
                @Html.Raw(Model.Content)
            </div>
        </div>
    </div>
</main>

