@using Microsoft.Extensions.Options
@using reCAPTCHA.AspNetCore

@model ContactModel
@inject IOptions<RecaptchaSettings> RecaptchaSettings
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

@using (Html.BeginForm("Contact", "Home", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <fieldset>
        <div class="form-group">
            @Html.LabelFor(model => model.Message)
            <br />
            @Html.TextAreaFor(model => model.Message, new { @class = "form-control", rows = "3", style = "width: 300px;" })
        </div>
        <div class="form-group">
            @Html.Recaptcha(RecaptchaSettings?.Value)
        </div>
        <button id="recaptcha" type="submit" class="btn btn-primary">Submit</button>
    </fieldset>
}