@model VietbankWebsite.ModelMap.ShareholderCategory
@{
    Layout = "~/Views/Shared/_LayoutShareholder.cshtml";
}
<section class="banner-wrap">
    <section class="breadcrumb-wrap brown">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ol class="breadcrumb mrt-10">
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="banner-page imageBanner">
        <div style="background-image:url('@Model.ShareholderInfo.Thumbnail')" class="imgBg"></div>
        <div class="desc">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-5 col-lg-5 col-xl-5">
                        <h1 class="title">@Model.ShareholderInfo.Title                                                                                                                                                                                     </h1>
                        <div class="content"></div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</section>
<main>

    <section class="bancan-ds">
        <div class="container">
            <div class="row flex flex-wrap">
                @foreach (var item in Model.shareholderItems.Select((value, i) => new { i, value }))
                {
                    if ((item.i + 1) % 2 == 0)
                    {
                        <div class="col-xs-12 col-md-6 col-lg-3 item-bcWrap">
                            <div class="item-bc op-@(item.i+1)">
                                <div class="thumb"><a href="@item.value.Url"><img src="@item.value.Thumbnail" alt=""></a></div>
                                <div class="caption">
                                    <h4><a href="@item.value.Url">@item.value.Title</a></h4>
                                    <div class="desc">
                                        @Html.Raw(item.value.Description)
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="col-xs-12 col-md-6 col-lg-3 item-bcWrap">
                            <div class="item-bc op-@(item.i+1)">
                                <div class="caption">
                                    <h4><a href="@item.value.Url">@item.value.Title</a></h4>
                                    <div class="desc">
                                        @Html.Raw(item.value.Description)
                                    </div>
                                </div>
                                <div class="thumb"><a href="@item.value.Url"><img src="@item.value.Thumbnail" alt=""></a></div>
                            </div>
                        </div>
                    }

                }
            </div>
        </div>
    </section>
</main>

