@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
    <footer>
        <section class="footer-top">
            <div class="container">
                <div class="livesupport"></div>
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
                        <div class="footer-link">
                            <h3 class="title">@Localizer["GioiThieuHeadTitle"]</h3>
                            <nav class="link">
                                <ul>
                                    <li class="item"><a href="@Localizer["GioiThieuLink"]" title="title">@Localizer["GioiThieuTitle"]</a></li>
                                    <li class="item"><a href="@Localizer["BanLanhDaoLink"]" title="title">@Localizer["BanLanhDaoTitle"]</a></li>
                                    <li class="item"><a href="@Localizer["TinTucLink"]" title="title">@Localizer["TinTucTitle"]</a></li>
                                    <li class="item"><a href="@Localizer["TuyenDungLink"]" title="title">@Localizer["TuyenDungTitle"]</a></li>
                                    <li class="item"><a href="@Localizer["NganHangDaiLyLink"]" title="title">@Localizer["NganHangDaiLyTitle"]</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
                        <div class="footer-link">
                            <h3 class="title">@Localizer["CaNhanHeadTitle"]</h3>
                            <nav class="link">
                                <ul>
                                    <li class="item"><a href="@Localizer["ChoVayLink"]" title="title">@Localizer["ChoVayTitle"]</a></li>
                                    <li class="item"><a href="@Localizer["TienGuiTietKiemLink"]" title="title">@Localizer["TienGuiTietKiemTitle"]</a></li>
                                    <li class="item"><a href="@Localizer["NganHangTrucTuyenLink"]" title="title">@Localizer["NganHangTrucTuyenTitle"]</a></li>
                                    <li class="item"><a href="@Localizer["DichVuLink"]" title="title">@Localizer["DichVuTitle"]</a></li>
                                    <li class="item"><a href="@Localizer["TienGuiThanhToanLink"]" title="title">@Localizer["TienGuiThanhToanTitle"]</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
                        <div class="footer-link">
                            <h3 class="title">@Localizer["DoanhNghiepHeadTitle"]</h3>
                            <nav class="link">
                                <ul>
                                    <li class="item"><a href="@Localizer["ChoVayDNLink"]" title="title">@Localizer["ChoVayDNTitle"]</a></li>
                                    <li class="item"><a href="@Localizer["TienGuiDNLink"]" title="title">@Localizer["TienGuiDNTitle"]</a></li>
                                    <li class="item"><a href="@Localizer["NganHangTrucTuyenDNLink"]" title="title">@Localizer["NganHangTrucTuyenDNTitle"]</a></li>
                                    <li class="item"><a href="@Localizer["DichVuQuanLyDongTienDNLink"]" title="title">@Localizer["DichVuQuanLyDongTienDNTitle"]</a></li>
                                    <li class="item"><a href="@Localizer["DichVuThuNganSachNhaNuocDNLink"]" title="title">@Localizer["DichVuThuNganSachNhaNuocDNTitle"]</a></li>
                                    <li class="item"><a href="@Localizer["ChuyenTienQuocTeDNLink"]" title="title">@Localizer["ChuyenTienQuocTeDNTitle"]</a></li>
                                    <li class="item"><a href="@Localizer["TaiTroThuongMaiDNLink"]" title="title">@Localizer["TaiTroThuongMaiDNTitle"]</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-6 col-md-3 col-lg-2">
                        <div class="footer-link">
                            <h3 class="title">@Localizer["TinTucHeadTitle"]</h3>
                            <nav class="link">
                                <ul>
                                    <li class="item"><a href="@Localizer["TinVietbankLink"]" title="title">@Localizer["TinVietbankTitle"]</a></li>
                                    <li class="item"><a href="@Localizer["TinKhuyenMaiLink"]" title="title">@Localizer["TinKhuyenMaiTitle"]</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4">
                        <div class="register-email">
                            <h3 class="title">@Localizer["DangKy"]</h3>
                            <p class="content">@Localizer["DesDangKy"]</p>
                            <div class="social clearfix"><a href="https://www.youtube.com/channel/UCAMkVbaN6-0qE9PauSXWJrQ"><i class="fa fa-facebook"> </i></a><a href="https://www.facebook.com/NH.Vietbank/"><i class="fa fa-youtube-play"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="copyright clearfix">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-9">
                        <div class="location">
                            <p>@Localizer["Address"] <strong>@Localizer["Legal"]</strong></p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-3">
                        <div class="copyright-content">
                            <p>@@ 2016 <strong>VietBank. All rights reserved.</strong></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="up"></div>
        <!-- Load Facebook SDK for JavaScript add vô footer trước dùm em -->
        <div id="fb-root"></div>
        <script>
            window.fbAsyncInit = function () {
                FB.init({
                    xfbml: true,
                    version: 'v4.0'
                });
            };

            (function (d, s, id) {
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) return;
                js = d.createElement(s); js.id = id;
                js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>

        <!-- Your customer chat code -->
        <div class="fb-customerchat"
             attribution=setup_tool
             page_id="638910482874851">
        </div>
    </footer>
