<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="google-site-verification" content="0UKZvTdm5alRZmyyWrB__UcHvhgf1PXJ2ArTzKWoPY8">
<link rel="canonical" href="http://@Context.Request.Host@Context.Request.Path" />
<meta property="og:title" content="@Html.Raw(ViewData["Title"])" />
<meta property="og:type" content="website" />
<meta property="og:description" content="@Html.Raw(ViewData["MetaDescription"])" />
<meta name="description" content="@Html.Raw(ViewData["MetaDescription"])">
<title>@Html.Raw(ViewData["Title"]) | Vietbank - Ngân hàng TMCP Việt Nam Thương Tín</title>
<environment include="Development">
    <link href="~/card/css/core.css" rel="stylesheet" />
    <link href="~/card/css/main.css" rel="stylesheet" />
    <link href="~/card/css/site-card.css" rel="stylesheet" />
</environment>
<environment exclude="Development">
    <link href="~/css/site-card.min.css" rel="stylesheet" />
    <script type="application/ld+json">
        { "@@context":"https://schema.org",
        "@@type": "Organization",
        "name": "VietBank",
        "legalName" : "Ngân hàng TMCP Việt Nam Thương Tín",
        "url":"https://www.vietbank.com.vn/",
        "logo":"https://www.vietbank.com.vn/Content/user/image/logo.png",
        "foundingDate": "2007",
        "founders": [
        {
        "@@type": "Person",
        "name": "Nguyen Thanh Nhung"
        },
        {
        "@@type": "Person",
        "name": "Nguyen Thanh Nhung"
        } ],
        "address": {
        "@@type": "PostalAddress",
        "streetAddress": "47 Trần Hưng Đạo",
        "addressLocality": "Tp. Sóc Trăng",
        "addressRegion": "Tỉnh Sóc Trăng",
        "postalCode": "96000",
        "addressCountry": "Vietnam"
        },
        "contactPoint": {
        "@@type": "ContactPoint",
        "contactType": "customer support",
        "telephone": "(+84) 1800 1122",
        "email":"callcenter@vietbank.com.vn"
        },
        "sameAs": [
        "https://www.facebook.com/NH.Vietbank",
        "https://www.youtube.com/channel/UCAMkVbaN6-0qE9PauSXWJrQ",
        "https://www.youtube.com/channel/UCww0wu74J_dOsU-vb5Dgj3w"
        ]}

        {
        "@@context": "http://schema.org",
        "@@type": "NewsArticle",
        "mainEntityOfPage": {
        "@@type": "WebPage",
        "@@id": "@Context.Request.Host@Context.Request.Path"
        },
        "headline": "@Html.Raw(ViewData["MetaTitle"])",
        "image": {
        "@@type": "ImageObject",
        "url": "@Html.Raw(ViewData["FeatureImage"])",
        "height": ,
        "width":
        },
        "datePublished": "…",
        "dateModified": "…",
        "author": {
        "@@type": "Person",
        "name": “Vietbank"
        },
        "publisher": {
        "@@type": "Organization",
        "name": “Vietbank",
        "logo": {
        "@@type": "ImageObject",
        "url": "https://www.vietbank.com.vn/Content/user/image/logo.png",
        "width": 137,
        "height": 54
        }
        },
        "description": "@Html.Raw(ViewData["MetaDescription"])"
}
    </script>
    <script>
        (function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
            'gtm.start':
                new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
            j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-PH992V5');</script>
</environment>