@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<section class="main-header">
    <div class="container">
        <div class="logo"><a href="/"><img class="lazyload" data-src="/img/logo.png" src="/img/logo.png" alt=""></a></div>
        <div class="btn-showmenu"> <i class="fa fa-bars"></i></div>
        <div class="overlay"></div>
        <div class="main-menu">
            <div class="btn-closemenu">X</div>
            <div class="menu-content">
                <ul>
                    <li class="dropdown">
                        <a href="@Localizer["GioiThieuUrl"]" data-toggle="dropdown" class="dropdown-toggle">@Localizer["GioiThieuName"]<span class="caret"><i class="fa fa-caret-down"></i></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Localizer["QuaTrinhPhatTrienUrl"]">@Localizer["QuaTrinhPhatTrienName"]</a></li>
                            <li><a href="@Localizer["TamNhinSuMenhUrl"]">@Localizer["TamNhinSuMenhName"]</a></li>
                            <li><a href="@Localizer["ThuNgoUrl"]">@Localizer["ThuNgoName"]</a></li>
                            <li><a href="@Localizer["ChatLuongUrl"]">@Localizer["ChatLuongName"]</a></li>
                            <li><a href="@Localizer["TuanThuUrl"]">@Localizer["TuanThuName"]</a></li>
                            <li><a href="@Localizer["NganHangDaiLyUrl"]">@Localizer["NganHangDaiLyName"]</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="@Localizer["BanLanhDaoUrl"]" data-toggle="dropdown" class="dropdown-toggle">@Localizer["BanLanhDaoName"]<span class="caret"><i class="fa fa-caret-down"></i></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Localizer["HoiDongQuanTriUrl"]">@Localizer["HoiDongQuanTriName"]</a></li>
                            <li><a href="@Localizer["BanKiemSoatUrl"]">@Localizer["BanKiemSoatName"]</a></li>
                            <li><a href="@Localizer["BanDieuHanhUrl"]">@Localizer["BanDieuHanhName"]</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="@Localizer["TinTucUrl"]" data-toggle="dropdown" class="dropdown-toggle">@Localizer["TinTucName"]<span class="caret"><i class="fa fa-caret-down"></i></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Localizer["TinVietbankUrl"]">@Localizer["TinVietbankName"]</a></li>
                            <li><a href="@Localizer["TinKhuyenMaiUrl"]">@Localizer["TinKhuyenMaiName"]</a></li>
                            <li><a href="@Localizer["VietbankTvUrl"]">@Localizer["VietbankTvName"]</a></li>
                            <li><a href="@Localizer["VietbankHandbookUrl"]">@Localizer["VietbankHandbookName"]</a></li>
                        </ul>
                    </li>
                    <li><a href="@Localizer["LienHeUrl"]">@Localizer["LienHeName"]</a></li>
                </ul>
            </div>
            <partial name="~/Views/Partial/_MenuMobile.cshtml" />
            <partial name="~/Views/Partial/_ToolLinkMobile.cshtml" />
        </div>
    </div>
</section>