@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<div class="header-main">
    <div class="container">
        <div class="header-wrap">
            <div class="btn-showmenu"><i class="material-icons">menu</i></div>
            <div class="overlay"></div>
            <div class="sitelogo"><a href="/"><img class="lazyload" data-src="/img/logo.png" src="/img/logo.png" alt=""></a></div>
            <div class="search d-block d-lg-none">
                <div class="search-toggle"><i class="material-icons">search</i></div>
                <div class="search-wrap">
                    <div class="searchbox">
                        <input type="text">
                        <button class="searchbutton"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                </div>
            </div>
            <div class="menu">
                <div class="btn-closemenu"><i class="material-icons">close</i></div>
                <div class="menu-logo">
                    <div class="sitelogo"><a href="/"><img class="lazyload" data-src="/img/logo.png" src="/img/logo.png" alt=""></a></div>
                </div>
                <div class="menu-wrap">
                    <ul class="menu-link">
                        <li class="has-sub active">
                            <a href="@Localizer["ProductUrl"]">@Localizer["ProductName"]</a>
                            <div class="btn-showsub"></div>
                            <div class="sub">
                                <ul>
                                    <li><a href="@Localizer["VietbankLuxuryPlataniumUrl"]">@Localizer["VietbankLuxuryPlataniumName"]</a></li>
                                    <li><a href="@Localizer["VietbankPlataniumUrl"]">@Localizer["VietbankPlataniumName"]</a></li>
                                    <li><a href="@Localizer["VietabankMyStyleUrl"]">@Localizer["VietabankMyStyleName"]</a></li>
                                </ul>
                            </div>
                        </li>
                        <li class="has-sub">
                            <a href="@Localizer["OfferUrl"]">@Localizer["OfferName"]</a>
                            <div class="btn-showsub"></div>
                            <div class="sub">
                                <ul>
                                    <li><a href="@Localizer["PromotionUrl"]" class="">@Localizer["PromotionName"]</a></li>
                                    <li><a href="@Localizer["MasterCardUrl"]" class="">@Localizer["MasterCardName"]</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="@Localizer["SupportUrl"]">@Localizer["SupportName"]</a></li>
                    </ul>
                </div>
                <div class="ebanking"><a href="@Localizer["NganHangTrucTuyenUrl"]"><i class="fa fa-unlock-alt" aria-hidden="true"></i> @Localizer["NganHangTrucTuyen"]</a></div>
                <div class="branch d-block d-md-none"><a href="#!"><i class="fa fa-map-marker" aria-hidden="true"></i>ATMs & Chi nhánh</a></div>
                <div class="hotline d-block d-md-none"><a href="tel:1800 1122"><i class="fa fa-phone" aria-hidden="true"></i>Hotline: 1800 1122</a></div>
            </div>
        </div>
    </div>
</div>