@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<section class="main-header">
    <div class="container">
        <div class="logo"><a href="/"><img src="/img/logo.png" alt=""></a></div>
        <div class="btn-showmenu"> <i class="fa fa-bars"></i></div>
        <div class="overlay"></div>
        <div class="main-menu">
            <div class="btn-closemenu">X</div>
            <div class="menu-content">
                <ul>
                    <li><a href="@Localizer["DoanhNghiepUrl"]">@Localizer["DoanhNghiep"]</a></li>
                    <li><a href="@Localizer["TinKhuyenMaiUrl"]">@Localizer["TinKhuyenMaiName"]</a></li>
                    <li class="dropdown">
                        <a href="@Localizer["HoTroUrl"]" data-toggle="dropdown" class="dropdown-toggle">@Localizer["HoTro"]<span class="caret"><i class="fa fa-caret-down"></i></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="@Localizer["FaqsUrl"]">@Localizer["FaqsName"]</a></li>
                            <li><a href="@Localizer["ForeignExchangeUrl"]">@Localizer["ForeignExchangeName"]</a></li>
                            <li><a href="@Localizer["InterestRateUrl"]">@Localizer["InterestRateName"]</a></li>
                            <li><a href="@Localizer["FormsUrl"]">@Localizer["FormsName"]</a></li>
                            <li><a href="@Localizer["TariffUrl"]">@Localizer["TariffName"]</a></li>
                            <li><a href="@Localizer["Tools&CalculatorsUrl"]">@Localizer["Tools&CalculatorsName"]</a></li>
                            <li><a href="@Localizer["SavingAccountInquiryUrl"]">@Localizer["SavingAccountInquiryName"]</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
            <partial name="~/Views/Partial/_MenuMobile.cshtml" />
            <a href="@Localizer["NganHangTrucTuyenUrl"]" class="btn-ibanking"><i class="fa fa-unlock-alt"></i><span>@Localizer["NganHangTrucTuyen"]</span></a>
            <div class="top-contact">
                <div class="location">
                    <i class="fa fa-map-marker"> </i>
                    <p><a href="">ATM &amp; Chi nhánh</a></p>
                </div>
                <div class="phone">
                    <i class="fa fa-phone"></i>
                    <p>Hotline: <strong> <a data-tel="+8419001122">1800 1122</a></strong></p>
                </div>
            </div>
            <nav class="tool-link clearfix">
                <ul>
                    <li> <i class="fa fa-usd"></i><a href="tygia.html" title="title">Tỷ giá</a></li>
                    <li> <i class="fa fa-map-marker"></i><a href="mangluoi.html" title="title">Mạng lưới</a></li>
                    <li> <i class="fa fa-file-text-o"></i><a href="bieumau-bieuphi.html" title="title">Biểu mẫu</a></li>
                    <li> <i class="fa fa-gift"></i><a href="#" title="title">Khuyến mãi</a></li>
                    <li> <i class="fa fa-comments-o"></i><a href="hoidap.html" title="title">Hỗ trợ</a></li>
                    <li> <i class="fa fa-phone"></i><a href="lienhe.html" title="title">Liên hệ</a></li>
                </ul>
            </nav>
        </div>
    </div>
</section>