@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<section class="tool">
    <nav class="tool-link">
        <ul>
            <li> <i class="fa fa-usd"></i><a href="@Localizer["TyGiaUrl"]" title="@Localizer["TyGia"]">@Localizer["TyGia"]</a></li>
            <li> <i class="fa fa-file-excel-o"></i><a href="@Localizer["LaiSuatUrl"]" title="@Localizer["LaiSuat"]">@Localizer["LaiSuat"]</a></li>
            <li> <i class="fa fa-map-marker"></i><a href="@Localizer["ChiNhanhUrl"]" title="@Localizer["ChiNhanh"]">@Localizer["ChiNhanh"]</a></li>
            <li> <i class="fa fa-file-text-o"></i><a href="@Localizer["BieuMauUrl"]" title="@Localizer["BieuMau"]">@Localizer["BieuMau"]</a></li>
            <li> <i class="fa fa-gift"></i><a href="@Localizer["KhuyenMaiUrl"]" title="@Localizer["KhuyenMai"]">@Localizer["KhuyenMai"]</a></li>
            <li> <i class="fa fa-phone"></i><a href="@Localizer["LienHeUrl"]" title="@Localizer["LienHe"]">@Localizer["LienHe"]</a></li>
            @*<li> <i class="fa fa-file"></i><a href="@Localizer["HoaDonUrl"]" title="@Localizer["HoaDon"]">@Localizer["HoaDon"]</a></li>*@
        </ul>
    </nav>
</section>