@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
<a href="@Localizer["NganHangTrucTuyenUrl"]" class="btn-ibanking"><i class="fa fa-unlock-alt"></i><span>@Localizer["NganHangTrucTuyen"]</span></a>
<div class="top-contact">
    <div class="location">
        <i class="fa fa-map-marker"> </i>
        <p><a href="">ATM &amp; @Localizer["ChiNhanh"]</a></p>
    </div>
    <div class="phone">
        <i class="fa fa-phone"></i>
        <p>Hotline: <strong> <a data-tel="+8419001122">1800 1122</a></strong></p>
    </div>
</div>
<nav class="tool-link clearfix">
    <ul>
        <li> <i class="fa fa-usd"></i><a href="@Localizer["TyGiaUrl"]" title="@Localizer["TyGia"]">@Localizer["TyGia"]</a></li>
        <li> <i class="fa fa-map-marker"></i><a href="@Localizer["ChiNhanhUrl"]" title="@Localizer["ChiNhanh"]">@Localizer["ChiNhanh"]</a></li>
        <li> <i class="fa fa-file-text-o"></i><a href="@Localizer["BieuMauUrl"]" title="title">@Localizer["BieuMau"]</a></li>
        <li> <i class="fa fa-gift"></i><a href="@Localizer["KhuyenMaiUrl"]" title="@Localizer["KhuyenMai"]">@Localizer["KhuyenMai"]</a></li>
        <li> <i class="fa fa-phone"></i><a href="@Localizer["LienHeUrl"]" title="@Localizer["LienHe"]">@Localizer["LienHe"]</a></li>
    </ul>
</nav>