@using Microsoft.Extensions.Options
@using reCAPTCHA.AspNetCore
@using Microsoft.AspNetCore.Mvc.Localization
@inject IOptions<RecaptchaSettings> RecaptchaSettings
@inject IViewLocalizer Localizer
@model VietbankWebsite.ModelMap.BillLookUpRequest
@{
    ViewData["Title"] = Localizer["BillLookupName"].Value;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="banner-wrap">
    <section class="banner-page imageBanner">
        <div style="background-image:url('/img/banner_page/VietBank-bg.jpg')" class="imgBg"></div>
        <div class="desc">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-5 col-lg-5 col-xl-5">
                        <h1 class="title">@Localizer["BillLookupName"]</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<main>
    <section class="contact">
        <div class="container">
            <div class="row">

                <div class="block-form">
                    <div class="col-md-6">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()
                            <div class="row">
                                <label>
                                    @Localizer["BillCodeName"]
                                    (<span class="red">*</span>):
                                </label>
                                @Html.EditorFor(model => model.BillCode, new { htmlAttributes = new { @class = "text-box single-line" } })
                                @Html.ValidationMessageFor(model => model.BillCode, "", new { @class = "field-validation-valid text-danger" })
                            </div>
                            <div class="row">
                                @Html.Recaptcha(RecaptchaSettings?.Value)
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            </div>
                            <div class="row">
                                <br />
                                <button type="submit" class="btn confirm">@Localizer["BillButton"]</button>
                            </div>
                        }
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row" id="infoGuarantee" style="padding-top:20px">
                <div id="link-pdf">
                </div>
                @if (ViewData["BillResult"] != null)
                {
                    @if (ViewData["BillResult"].ToString().Equals("No data found"))
                    {
                        <p><strong>@ViewData["BillResult"]</strong></p>
                    }
                    else
                    {
                        <a download="@String.Concat(Model.BillCode,".pdf")" href="data:application/octet-stream;base64,@ViewData["BillResult"]">@Localizer["BillLookupDownload"] @String.Concat(Model.BillCode, ".pdf")</a>
                    }

                }
            </div>
        </div>
    </section>
</main>

@section Scripts{
}