@model VietbankWebsite.ModelMap.IntroduceDetail
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["CalculationName"].Value;
    Layout = "~/Views/Shared/_LayoutPersonal.cshtml";
}

<section class="banner-wrap">
    <section class="breadcrumb-wrap">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ol class="breadcrumb mrt-10">
                        <li><a href="@Localizer["PersonalUrl"]">@Localizer["PersonalName"]</a></li>
                        <li><a href="@Localizer["SupportUrl"]">@Localizer["SupportName"]</a></li>
                        <li class="active"><span>@Localizer["CalculationName"]</span></li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="banner-page imageBanner">
        <div style="background-image:url('/img/banner_page/banner_bieuphi.png')" class="imgBg"></div>
        <div class="desc">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-5 col-lg-5 col-xl-5">
                        <h1 class="title">@Localizer["CalculationName"]</h1>
                        <div class="content">@Localizer["CalculationDes"]</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<main>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-3">
                <partial name="~/Views/Partial/_ToolCalulationPersonalBar.cshtml" />
            </div>
            <div class="col-xs-12 col-lg-9">
                <section class="hotro-ct">
                    <h1 class="title">@Localizer["CalculationName"]                                                                                                                                                                                    </h1>
                    <div class="" id="support-personal">
                        <div class="tabs-support">
                            <ul role="tablist" class="nav-jt-sp">
                                <li class="nav-item">
                                    <a href="#tab1" data-toggle="tab" role="tab" class="active" aria-expanded="true">@Localizer["TabOneTitle"]</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#tab2" data-toggle="tab" role="tab" class="" aria-expanded="false">@Localizer["TabTwoTitle"]</a>
                                </li>
                                <li class="nav-item">
                                    <a href="#tab3" data-toggle="tab" role="tab" class="" aria-expanded="false">@Localizer["TabThreeTitle"]</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content">
                            <div role="tabpanel" class="thetindung tab-pane active" id="tab1" aria-expanded="true">
                                <div class="block-borrowTool">
                                    <div class="form-group">
                                        <label>@Localizer["TabOneLabelOne"]</label>
                                        <div class="group">
                                            <input id="so-tien-tra-moi-thang" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>@Localizer["TabOneLabelTwo"]</label>
                                        <div class="group">
                                            <input id="so-thang-vay" class="form-control"><span class="unit">@Localizer["TabOneLabelTwoUnit"]</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>@Localizer["TabOneLabelThree"]</label>
                                        <div class="group">
                                            <input id="lai-suat-vay" class="form-control"><span class="unit">%</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input style="float: left;" id="submit-uoctinhkhoangvai" type="submit" value="@Localizer["TabOneLabelFour"]">
                                    </div>
                                    <div class="result">
                                        <h3>@Localizer["TabOneLabelFive"]</h3>
                                        <div class="row flex flex-wrap">
                                            <div class="col-xs-12 col-md-6">
                                                <div class="item-result"><strong>@Localizer["TabOneLabelSix"] </strong><span id="du-dinh-tra-no"></span></div>
                                            </div>
                                            <div class="col-xs-12 col-md-6">
                                                <div class="item-result"><strong>@Localizer["TabOneLabelSeven"] </strong><span id="so-tien-vay-toi-da"></span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="thetindung tab-pane" id="tab2" aria-expanded="false">
                                <div class="block-calculatorTool">
                                    <div class="row flex flex-wrap">
                                        <div class="col-xs-12 col-md-6">
                                            <div class="form-group">
                                                <label>@Localizer["TabTwoLabelOne"]</label>
                                                <div class="group">
                                                    <input id="sotienvay" value="" class="form-control"><span class="unit">VND</span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>@Localizer["TabTwoLabelTwo"]</label>
                                                <div class="group">
                                                    <input id="thoigianvay" value="" class="form-control"><span class="unit">@Localizer["TabOneLabelTwoUnit"]</span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>@Localizer["TabTwoLabelThree"]</label>
                                                <div class="group">
                                                    <input id="laisuat" value="" class="form-control"><span class="unit">%</span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xs-12">
                                            <div class="form-group">
                                                <input id="btn-tinhnogiamdan" type="submit" value="@Localizer["TabTwoLabelFive"]">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="block-calculatorTool">
                                    <div class="title-wrap">
                                        <h3 class="title-tool">@Localizer["TabTwoLabelFour"]</h3>
                                        <div class="support-wrap">
                                            <a onclick="jtExportToExcel();event.preventDefault();" href="#"><img class="lazyload" data-src="/img/excel_icon.png" src="/img/excel_icon.png"><span>@Localizer["ExportExcel"]</span></a>
                                            <a onclick="jtprinttygia(); event.preventDefault();" href="#"><img class="lazyload" data-src="/img/print_icon.png" src="/img/print_icon.png"><span>@Localizer["Print"]</span></a>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table id="kq-tinhdunobandau" class="table"></table>
                                    </div>
                                </div>
                            </div>
                            <div role="tabpanel" class="thetindung tab-pane" id="tab3" aria-expanded="false">
                                <div class="block-revive">
                                    <div class="row flex flex-wrap">
                                        <div class="col-xs-12 col-md-6">
                                            <div class="form-group">
                                                <label>@Localizer["TabThreeLabelOne"]</label>
                                                <div class="group">
                                                    <input id="so-tien-goi-person" value="" class="form-control"><span class="unit">VND</span>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label>@Localizer["TabThreeLabelTwo"]</label>
                                                <div id="ky-hang-gui-person" class="group">
                                                    <input disabled="disabled" class="form-control"><span class="unit hidden"></span>
                                                    <select style="position: absolute; width: 120px; top: 0px; right: 0px; z-index: 100; background-color: white; border-bottom-left-radius: inherit; border-top-left-radius: inherit;" id="ky-lanh-lai-person" class="form-control">
                                                        <option value="">@Localizer["TabThreeLabelTwoOne"]</option>
                                                        <option value="tuần">@Localizer["TabThreeLabelTwoTwo"]</option>
                                                        <option value="tháng">@Localizer["TabThreeLabelTwoThree"]</option>

                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-xs-12 col-md-6">

                                            <div class="form-group">
                                                <label>@Localizer["TabThreeLabelThree"]</label>
                                                <div class="group">
                                                    <input id="lai-suat-person" class="form-control"><span class="unit">%</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    @Html.Raw(Model.Content)                                            
                                    <div class="form-group btn-result">
                                    <input id="uoc-tinh-person" type="submit" value="@Localizer["TabTwoLabelFive"]">
                                    </div>
                                    <div class="result">
                                        <h3>@Localizer["TabThreeLabelFour"]</h3>
                                        <div class="row flex flex-wrap">
                                            <div class="col-xs-12 col-md-6">

                                                <div class="item-result"><strong>@Localizer["TabThreeLabelFive"] </strong><span class="tong-tien-lai"></span></div>
                                            </div>
                                            <div class="col-xs-12 col-md-6">
                                                <div class="item-result"><strong>@Localizer["TabThreeLabelSix"] </strong><span class="tong-so-tien-nhan-duoc"></span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</main>

@section Scripts{

    <script src="~/js/jquery.table2excel.js"></script>
    <script src="~/page/tool-calulation.js"></script>
}