@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    Layout = "~/Views/Shared/_LayoutPersonal.cshtml";
}
@section Styles{

    <link href="~/css/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="~/css/dataTables.bootstrap.min.css" rel="stylesheet" />
}
<section class="banner-wrap">
    <section class="breadcrumb-wrap">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ol class="breadcrumb mrt-10">
                        <li><a href="@Localizer["CaNhanUrl"]">@Localizer["CaNhanName"]</a></li>
                        <li><a href="@Localizer["HoTroUrl"]">@Localizer["HoTroName"]</a></li>
                        <li class="active"><span>@Localizer["TyGiaName"]</span></li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="banner-page imageBanner">
        <div style="background-image:url('/img/banner_page/banner_bieuphi.png')" class="imgBg"></div>
        <div class="desc">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-5 col-lg-5 col-xl-5">
                        <h1 class="title">@Localizer["TyGiaName"]</h1>
                        <div class="content">@Localizer["TyGiaDes"]</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<main>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-3">
                <partial name="~/Views/Partial/_ToolCalulationPersonalBar.cshtml" />
            </div>
            <div class="col-xs-12 col-lg-9">

                <section id="hotro-ct-1" class="hotro-ct">
                    <h1 class="title">@Localizer["TyGiaName"]</h1>
                    <div class="block-exchangeRate">
                        <div class="row flex flex-wrap">
                            <div class="col-xs-12 col-md-6 col-lg-7">
                                <div class="form-group width-full">
                                    <label>@Localizer["TyGiaNgay"]</label>
                                    <div class="group">
                                        <input id="datecurrent" class="form-control" data-date-format="dd/mm/yyyy"><span class="icon"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-3 col-lg-2">
                                <div class="form-group">
                                    <label>@Localizer["TyGiaLan"]</label>
                                    <div id="count-update" class="group">
                                        <select class="form-control"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-3 col-lg-3">
                                <div class="form-group">
                                    <input id="filter-currency" type="submit" value="@Localizer["XemTyGia"]">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="progress"></div>
                    <div class="block-exchangeRate">
                        <div class="title-wrap">
                            <h3 class="title-rate">@Localizer["DsTyGia"]</h3>
                            <div class="support-wrap">
                                <a href="#" onclick="jtExportToExcel();event.preventDefault();"><img src="/img/excel_icon.png"><span>@Localizer["TyGiaXuat"]</span></a>
                                <a href="#" onclick="jtprinttygia(); event.preventDefault();"><img src="/img/print_icon.png"><span>@Localizer["TyGiaIn"]</span></a>
                                <a href="#" class="icon-share"><img src="/img/share_icon.png"><span>@Localizer["TyGiaChiaSe"]</span></a>
                                <div class="social-list"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-google-plus"></i></a></div>
                            </div>
                        </div>
                        <div class="table-responsive" id="frmtbltygia">
                            <table class="table" id="tbltygia">
                                <tbody>
                                    <tr>
                                        <th>@Localizer["NgoaiTe"]</th>
                                        <th>@Localizer["MuaTM"]</th>
                                        <th>@Localizer["MuaCK"]</th>
                                        <th>@Localizer["BanCK"]</th>
                                    </tr>
                                </tbody>
                                <tbody id="content-currency">
                                </tbody>
                            </table>
                            <br>
                            <p style="font-size:14px;">@Localizer["DesOne"]</p>
                            <p style="font-size:14px;">@Localizer["DesTwo"]</p>
                            <p style="font-size:14px;">@Localizer["DesThree"]</p>
                            <br>
                        </div>
                        <div class="link-exchange">
                            <ul class="nav">
                                <li class="li-chart"><a href="#chart"><i class="fa fa-line-chart"></i><span>@Localizer["BieuDo"]</span></a></li>
                                <li class="li-currency-converter"><a href="#currency-converter"><i class="fa fa-calculator"></i><span>@Localizer["ChuyenDoiNT"]</span></a></li>
                            </ul>
                        </div>
                    </div>
                </section>

                <section id="hotro-ct-2" class="hotro-ct hidden">
                    <h1 class="title">@Localizer["TyGiaName"]</h1>
                    <div class="block-exchangeChart">
                        <div class="row flex flex-wrap">
                            <div class="col-xs-12 col-md-5 col-lg-4">
                                <div class="form-group">
                                    <label>@Localizer["CurrencyOne"]</label>
                                    <div class="btn-ex">
                                        <select id="val-current1" class="form-control">
                                            <option value="USD">USD</option>
                                            <option value="EUR">EUR</option>
                                            <option value="GBP">GBP</option>
                                            <option value="JPY">JPY</option>
                                            <option value="AUD">AUD</option>
                                            <option value="CAD">CAD</option>
                                            <option value="SGD">SGD</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>@Localizer["CurrencyTwo"]</label>
                                    <div class="btn-ex">
                                        <select id="val-current2" class="form-control">
                                            <option value="USD">USD</option>
                                            <option value="EUR">EUR</option>
                                            <option value="GBP">GBP</option>
                                            <option value="JPY">JPY</option>
                                            <option value="AUD">AUD</option>
                                            <option value="CAD">CAD</option>
                                            <option value="SGD">SGD</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-7 col-lg-8">
                                <div class="form-group">
                                    <label>@Localizer["FromDate"]</label>
                                    <div class="group">
                                        <input class="form-control" id="fromdate" data-date-format="dd/mm/yyyy"><span class="icon"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>@Localizer["ToDate"]</label>
                                    <div class="group">
                                        <input class="form-control" id="todate" data-date-format="dd/mm/yyyy"><span class="icon"><i class="fa fa-calendar"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="@Localizer["ViewChart"]" onclick="getDataToViewChart();">
                        </div>
                    </div>
                    <div class="block-exchangeChart">
                        <div class="title-wrap">
                            <h3 class="title-rate">@Localizer["CurrencyChart"]</h3>
                            <div class="support-wrap">
                                <div class="note">

                                </div><a href="#" class="icon-share"><img src="/img/share_icon.png"><span>@Localizer["TyGiaChiaSe"]</span></a>
                                <div class="social-list"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-google-plus"></i></a></div>
                            </div>
                        </div>
                        <div class="box-chart" id="chart">
                            <div id="container" style="width: 762px; height: 400px; margin: 0 auto; display:block"></div>
                        </div>
                        <div class="link-exchange">
                            <ul class="nav">
                                <li class="li-chart"><a href="#chart"><i class="fa fa-line-chart"></i><span>@Localizer["BieuDo"]</span></a></li>
                                <li class="li-currency-converter"><a href="#currency-converter"><i class="fa fa-calculator"></i><span>@Localizer["ChuyenDoiNT"]</span></a></li>
                            </ul>
                        </div>
                    </div>
                </section>

                <section id="hotro-ct-3" class="hotro-ct hidden">
                    <h1 class="title">@Localizer["TyGiaName"]</h1>
                    <div class="block-exchangeMoney">
                        <div class="row flex flex-wrap">
                            <div class="col-xs-12 col-md-6">
                                <div class="form-group width-full">
                                    <label>@Localizer["AmountConvert"] </label>
                                    <input id="val-curreny" value="" class="form-control">
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-3">
                                <div class="form-group">
                                    <label>@Localizer["TypeCurrency"] </label>
                                    <div class="btn-ex">
                                        <select id="val-effcode" class="form-control selectpicker">
                                            <option value="USD" data-thumbnail="/img/lang/USD.png">USD</option>
                                            <option value="EUR">EUR</option>
                                            <option value="GBP">GBP</option>
                                            <option value="JPY">JPY</option>
                                            <option value="AUD">AUD</option>
                                            <option value="CAD">CAD</option>
                                            <option value="SGD">SGD</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-3">
                                <div class="form-group">
                                    <input id="btn-convert" type="submit" value="@Localizer["Convert"]">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="block-exchangeMoney">
                        <div class="title-wrap">
                            <h3 class="title-exchange" id="last-date-update"></h3>
                            <div class="support-wrap">
                                <a href="#" class="icon-share"><img src="/img/share_icon.png"><span>@Localizer["TyGiaChiaSe"]</span></a>
                                <div class="social-list"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-google-plus"></i></a></div>
                            </div>
                        </div>
                        <div class="exchange-list">
                            <div class="row">

                            </div>
                        </div>
                        <div class="link-exchange">
                            <ul class="nav">
                                <li class="li-chart"><a href="#chart"><i class="fa fa-line-chart"></i><span>@Localizer["BieuDo"]</span></a></li>
                                <li class="li-currency-converter"><a href="#currency-converter"><i class="fa fa-calculator"></i><span>@Localizer["ChuyenDoiNT"]</span></a></li>
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</main>

@section Scripts{
    <script src="~/js/jquery.table2excel.js"></script>
    <script src="~/js/highcharts.js"></script>
    <script src="~/js/bootstrap-datepicker.js"></script>
    <script src="~/js/moment.js"></script>
    <script src="~/page/personal-currency.js"></script>
}