@using Microsoft.AspNetCore.Mvc.Localization
@model VietbankWebsite.Entities.CategoryProduct
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "ListProduct";
    Layout = "~/Views/Shared/_LayoutPersonal.cshtml";
}

<section class="banner-wrap">
    <section class="breadcrumb-wrap">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ol class="breadcrumb mrt-10">
                        <li><a href="@Localizer["PersonalUrl"]">@Localizer["PersonalName"]</a></li>
                        <li><a href="@Localizer["ProductUrl"]">@Localizer["ProductName"]</a></li>
                        <li class="active"><span style="color: #999;">@Model.Title</span></li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="banner-page imageBanner">
        <div style="background-image:url('@Model.Thumbnail')" class="imgBg"></div>
        <div class="desc">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-5 col-lg-5 col-xl-5">
                        <h1 class="title">@Model.Title</h1>
                        <div class="content">@Model.Description</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<main>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-3">
                <div class="relative">
                    <a href="javascript:;" class="toggle-click"><i class="fa fa-bars"></i>Danh mục</a>
                    <div class="nav-toogle">
                        <nav class="left-menu">
                            @foreach (var item in Model.ListCategoryProduct)
                            {
                                <a href="@item.CategoryDetailShort.Url">@item.CategoryDetailShort.Title</a>
                            }
                        </nav>
                    </div>
                </div>
                <div class="banner-ads"><a href="#"><img src="/img/sanpham-ds2/ads_banner1.png" alt="Ads"></a></div>
            </div>
            <div class="col-xs-12 col-lg-9">
                <section class="sanpham-ds2">
                    <div class="row flex flex-wrap" id="list-product"></div>
                </section>
                <div class="pages newspaper">
                    <ul class="pagination" id="pagination">
                        <li class="active"><span>1</span></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</main>
@section Scripts{

    <script src="~/page/personal-list-product.js"></script>
}