@using Microsoft.AspNetCore.Mvc.Localization
@model VietbankWebsite.Entities.CategoryProduct
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Product";
    Layout = "~/Views/Shared/_LayoutPersonal.cshtml";
}

<section class="banner-wrap">
    <section class="breadcrumb-wrap">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ol class="breadcrumb mrt-10">
                        <li><a href="@Localizer["PersonalUrl"]">@Localizer["PersonalName"]</a></li>
                        <li class="active"><span style="color: #999;">@Localizer["ProductName"]</span></li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="banner-page imageBanner">
        <div style="background-image:url('@Model.Thumbnail')" class="imgBg"></div>
        <div class="desc">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-5 col-lg-5 col-xl-5">
                        <h1 class="title">@Model.Title</h1>
                        <div class="content">@Html.Raw(Model.Description)</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<main>
    <section class="sanpham-ds1">
        <div class="container">
            <div class="sanpham-wrap">
                <div class="row flex flex-wrap">
                    @foreach (var item in Model.ListCategoryProduct)
                    {
                        <div class="col-xs-12 col-md-4 col-lg-4">
                            <div class="item-sp">
                                <figure>
                                    <a href="@item.CategoryDetailShort.Url"><img src="@item.CategoryDetailShort.Thumbnail" alt="@item.CategoryDetailShort.Title"></a>
                                    <figcaption>
                                        <h3> <a href="@item.CategoryDetailShort.Url">@item.CategoryDetailShort.Title</a></h3>
                                        <ul>
                                            @foreach (var subItem in item.CategoryProductShorts)
                                            {
                                                <li><a href="@subItem.Url">@subItem.Title</a></li>
                                            }
                                        </ul><a href="@item.CategoryDetailShort.Url" class="readMore"><span>@Localizer["ViewAllName"] </span><i class="fa fa-angle-right"></i></a>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
</main>

