@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    Layout = "~/Views/Shared/_LayoutAbout.cshtml";
}
@section Styles{
    <link href="~/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/css/dataTables.bootstrap.min.css" rel="stylesheet" />
}
<section class="banner-wrap">
    <section class="breadcrumb-wrap">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ol class="breadcrumb mrt-10">
                        <li><a href="@Localizer["VeVietbankUrl"]">@Localizer["VeVietBankName"]</a></li>
                        <li><a href="@Localizer["GioiThieuUrl"]">@Localizer["GioiThieuName"]</a></li>
                        <li class="active"><span style="color:#999;">@Localizer["BankAgent"]</span></li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="banner-page imageBanner">
        <div style="background-image:url('/img/banner_page/vietbank-bg.jpg')" class="imgBg"></div>
        <div class="desc">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-5 col-lg-5 col-xl-5">
                        <h1 class="title bottom">@Localizer["BankAgent"]</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<main>
    <div class="container">
        <div style="padding-top:30px;" class="row">
            <div id="example_wrapper">
                <div class="row">
                    <div class="col-xs-12">
                        <table id="bank-agent" class="table table-bordered table-hover" style="width: 100%">
                            <thead>
                                <tr>
                                    <th>
                                        SwiftCode
                                    </th>
                                    <th>
                                        BankName
                                    </th>
                                    <th>
                                        City
                                    </th>
                                    <th>
                                        Country
                                    </th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
@section Scripts{
    <script src="~/js/jquery.dataTables.min.js"></script>
    <script src="~/js/dataTables.bootstrap.min.js"></script>
    <script src="~/page/vietbank-bank-agent.js"></script>
}