@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["LienHeName"];
    Layout = "~/Views/Shared/_LayoutAbout.cshtml";
}

<section class="banner-wrap">
    <section class="breadcrumb-wrap">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ol class="breadcrumb mrt-10">
                        <li><a href="@Localizer["VeVietbankUrl"]">@Localizer["VeVietbankName"]</a></li>
                        <li class="active"><span>@Localizer["LienHeName"]</span></li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="banner-page imageBanner">
        <div style="background-image:url('https://static.vietbank.com.vn/web/Banner/lien-he.jpg')" class="imgBg"></div>
        <div class="desc">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-5 col-lg-5 col-xl-5">
                        <h1 class="title">@Localizer["LienHeName"]</h1>
                        <div class="content">@Localizer["LienHeDes"]</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<main>
    <section class="contact">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-lg-4">
                    <div class="block-info-wrap">
                        <div class="block-addr">
                            <h1>@Localizer["String1"]</h1>
                            <p><strong>@Localizer["String2"] </strong>@Localizer["String3"]</p>
                            <p><strong>@Localizer["String4"] </strong>@Localizer["String5"]</p>
                            <p class="addr"><strong>@Localizer["String6"] </strong>@Localizer["String7"]</p>
                            <h1>@Localizer["String8"]</h1>
                            <p><strong>@Localizer["String9"]: </strong>@Localizer["String10"]</p>
                            <p><strong>@Localizer["String11"] </strong>@Localizer["String12"]</p>
                            <p class="addr"><strong>@Localizer["String13"] </strong>@Localizer["String14"]</p>
                            <p><strong>@Localizer["String15"] </strong>@Localizer["String16"]</p>
                            <p><strong>@Localizer["String17"]</strong> @Localizer["String18"]</p>
                        </div>
                        <div class="block-atmLink">
                            <h2>@Localizer["String19"]</h2>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="text">@Localizer["String20"]</div><a href="#">
                                        <i class="fa fa-angle-right"></i>
                                        @Localizer["String21"]
                                    </a>
                                </div>
                                <div class="col-md-6"><img src="/img/bando_icon.png"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 col-lg-8">
                    <div class="block-form">
                        <p class="title">@Localizer["String22"]</p>
                        <div class="row">
                            <div class="col-md-6">
                                <label>
                                    @Localizer["String23"]
                                    (<span class="red">*</span>):
                                </label>
                                <input name="name">
                            </div>
                            <div class="col-md-6">
                                <label>@Localizer["String24"]</label>
                                <input name="phone">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>@Localizer["String25"]</label>
                                <input name="name">
                            </div>
                            <div class="col-md-6">
                                <label>
                                    @Localizer["String26"]
                                    (<span class="red">*</span>):
                                </label>
                                <input name="phone">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label>@Localizer["String27"]</label>
                                <input name="name">
                            </div>
                            <div class="col-md-6">
                                <label>
                                    @Localizer["String28"]
                                    (<span class="red">*</span>):
                                </label>
                                <input name="phone">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>
                                    @Localizer["String29"]
                                    (<span class="red">*</span>):
                                </label>
                                <textarea id="text"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label>
                                    @Localizer["String30"]
                                    (<span class="red">*</span>):
                                </label>
                                <div class="captcha-box clearfix">
                                    <img src="/img/captcha.png"><a href="#"><i class="fa fa-refresh"></i></a>
                                    <input name="captcha">
                                </div>
                            </div>
                        </div>
                        <div class="row mrt-30">
                            <div class="col-sm-12"><a href="#" class="confirm">@Localizer["String31"]</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

