@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Title"];
    Layout = "~/Views/Shared/_LayoutAbout.cshtml";
}
<section class="banner-wrap">
    <section class="breadcrumb-wrap brown">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ol class="breadcrumb mrt-10">
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="banner-page imageBanner">
        <div style="background-image:url('https://static.vietbank.com.vn/web/Banner/ve-Vietbank.jpg')" class="imgBg"></div>
        <div class="desc">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-5 col-lg-5 col-xl-5">
                        <h1 class="title">@Localizer["Title"]                                                                                                                                                                                             </h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<main>
    <section class="about-us">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">

                    <div class="item-ab">
                        <div class="row flex flex-wrap">
                            <div class="col-xs-12 col-md-5 col-lg-4">
                                <div class="thumb"><img src="https://static.vietbank.com.vn/web/Ve-VietBank/Gioi-thieu/tamnhin-sumenh.png" alt="@Localizer["MissionName"]"></div>
                            </div>
                            <div class="col-xs-12 col-md-7 col-lg-8">
                                <div class="content">
                                    <h1 class="title">@Localizer["MissionName"]</h1>
                                    <div class="desc"><p>@Localizer["MissionDescription"]</p></div>
                                    <a href="@Localizer["MissionUrl"]" class="btn-more">@Localizer["ReadMore"]...</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item-ab">
                        <div class="row flex flex-wrap">
                            <div class="col-xs-12 col-md-7 col-lg-8">
                                <div class="content">
                                    <h1 class="title">@Localizer["MessageName"]</h1>
                                    <div class="desc"><p>@Localizer["MessageDescription"]</p></div>
                                    <a href="@Localizer["MessageUrl"]" class="btn-more">@Localizer["ReadMore"]...</a>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-5 col-lg-4">
                                <div class="thumb"><img src="https://static.vietbank.com.vn/web/Ve-VietBank/Gioi-thieu/thungo.png" alt="@Localizer["MessageName"]"></div>
                            </div>
                        </div>
                    </div>
                    <div class="item-ab">
                        <div class="row flex flex-wrap">
                            <div class="col-xs-12 col-md-5 col-lg-4">
                                <div class="thumb"><img src="https://static.vietbank.com.vn/web/Ve-VietBank/Gioi-thieu/chinhsachchatluong.png" alt="@Localizer["QualityName"]"></div>
                            </div>
                            <div class="col-xs-12 col-md-7 col-lg-8">
                                <div class="content">
                                    <h1 class="title">@Localizer["QualityName"]</h1>
                                    <div class="desc"><p>@Localizer["QualityDescription"]</p></div>
                                    <a href="@Localizer["QualityUrl"]" class="btn-more">@Localizer["ReadMore"]...</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item-ab">
                        <div class="row flex flex-wrap">
                            <div class="col-xs-12 col-md-7 col-lg-8">
                                <div class="content">
                                    <h1 class="title">@Localizer["MilestonesName"]</h1>
                                    <div class="desc"><p>@Localizer["MilestonesDescription"]</p></div>
                                    <a href="@Localizer["MilestonesUrl"]" class="btn-more">@Localizer["ReadMore"]...</a>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-5 col-lg-4">
                                <div class="thumb"><img src="https://static.vietbank.com.vn/web/Ve-VietBank/Gioi-thieu/quatrinhphattrien.png" alt="@Localizer["MilestonesName"]"></div>
                            </div>
                        </div>
                    </div>
                    <div class="item-ab">
                        <div class="row flex flex-wrap">
                            <div class="col-xs-12 col-md-5 col-lg-4">
                                <div class="thumb"><img src="https://static.vietbank.com.vn/web/Ve-VietBank/chinhsachtuanthu/chinh-sach-tuan-thu.jpg" alt="@Localizer["PolicyName"]"></div>
                            </div>
                            <div class="col-xs-12 col-md-7 col-lg-8">
                                <div class="content">
                                    <h1 class="title">@Localizer["PolicyName"]</h1>
                                    <div class="desc"><p>@Localizer["PolicyDescription"]</p></div>
                                    <a href="@Localizer["PolicyUrl"]" class="btn-more">@Localizer["ReadMore"]...</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

</main>
