@model IEnumerable<VietbankWebsite.ModelMap.TopThreeNewsToCate>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    Layout = "~/Views/Shared/_LayoutAbout.cshtml";
}
<section class="banner-wrap">
    <section class="breadcrumb-wrap brown">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ol class="breadcrumb mrt-10">
                        <li><a href="/ve-vietbank">Về Vietbank</a></li>
                        <li><a href="/ve-vietbank/tin-tuc">Tin tức</a></li>
                        <li style="color: #999;" class=" active"><strong>Tin Vietbank</strong></li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="VietBank-bg">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="blue">Tin Vietbank                                                                                                                                                                                            </h1>
                </div>
            </div>
        </div>
    </section>
</section>
<section class="news-special">
    <div class="container">
        <div class="slider">
            <div class="owl-carousel">
                @foreach (var news in Model)
                {
                    <div class="item-newspecial">
                        <div class="row">
                            <div class="col-xs-12 col-md-8">
                                <div class="thumb">
                                    <a href="@news.Url">
                                        <img class="lazyload" data-src="@news.Thumbnail" src="@news.Thumbnail" alt="@news.Title">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <div class="title-news">
                                    <h4>Tin mới nhất</h4>
                                    <time>@news.PublishDate.ToString("dd/MM/yyyy")</time>
                                </div>
                                <h1 class="title"><a href="@news.Url">@news.Title</a></h1>
                                <div class="brief">@news.Description</div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<main>
    <section class="news-list">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ul class="nav nav-bld">
                        <li><a href="tintuc.html" class="active">TẤT CẢ</a></li>
                        <li><a href="#">TIN Vietbank</a></li>
                        <li><a href="#">TIN THỊ TRƯỜNG</a></li>
                        <li><a href="#">TIN KHUYẾN MÃI</a></li>
                    </ul>
                </div>
            </div>
            <div class="row flex flex-wrap">
                <div class="col-xs-12 col-md-6 col-lg-4 item-newsWrap">
                    <div class="item-news">
                        <figure>
                            <a href="#"><img class="lazyload" data-src="/img/tintuc/chuongtrinhkm.png" src="/img/tintuc/chuongtrinhkm.png" alt="Tin tuc"></a>
                            <figcaption>
                                <div class="title-news clearfix">
                                    <h4>Tin Vietbank</h4>
                                    <time>2016-04-13</time>
                                </div>
                                <h3><a href="#">Chương trình KM “Triệu phú trong tầm tay, vận may đến nước Mỹ”</a></h3>
                                <div class="brief">Nhằm tri ân khách đã luôn đồng hành và ủng hộ trong suốt thời gian qua, Vietbank triển khai CTKM "Triệu phú trong tầm tay - Vận may đến nước Mỹ"</div>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-4 item-newsWrap">
                    <div class="item-news">
                        <figure>
                            <a href="#"><img class="lazyload" data-src="/img/tintuc/phancongnhansu.png" src="/img/tintuc/phancongnhansu.png" alt="Tin tuc"></a>
                            <figcaption>
                                <div class="title-news clearfix">
                                    <h4>Tin Vietbank</h4>
                                    <time>2016-04-13</time>
                                </div>
                                <h3><a href="#">Vietbank phân công nhân sự điều hành mới</a></h3>
                                <div class="brief">Hội đồng Quản trị Ngân hàng Việt Nam Thương Tín (Vietbank) vừa có quyết định bổ nhiệm ông Nguyễn Đăng Thanh, hiện là phó tổng giám đốc...</div>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-4 item-newsWrap">
                    <div class="item-news">
                        <figure>
                            <a href="#"><img class="lazyload" data-src="/img/tintuc/quagiainhiet.png" src="/img/tintuc/quagiainhiet.png" alt="Tin tuc"></a>
                            <figcaption>
                                <div class="title-news clearfix">
                                    <h4>TIN KHUYẾN MÃI</h4>
                                    <time>2016-04-13</time>
                                </div>
                                <h3><a href="#">Chương trình KM “Quà giải nhiệt - Vui hè xuyên Việt”</a></h3>
                                <div class="brief">Sau những ngày làm việc vất vả, những chuyến du lịch, nghỉ dưỡng bốn phương luôn là liều thuốc giải tỏa căng thẳng hiệu quả nhất.</div>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-4 item-newsWrap">
                    <div class="item-news">
                        <figure>
                            <a href="#"><img class="lazyload" data-src="/img/tintuc/uudaidanhchochuthe.png" src="/img/tintuc/uudaidanhchochuthe.png" alt="Tin tuc"></a>
                            <figcaption>
                                <div class="title-news clearfix">
                                    <h4>Tin Vietbank</h4>
                                    <time>2016-04-13</time>
                                </div>
                                <h3><a href="#">Ưu đãi dành cho chủ thẻ tín dụng Vietbank</a></h3>
                                <div class="brief">Sau những ngày làm việc vất vả, những chuyến du lịch, nghỉ dưỡng bốn phương luôn là liều thuốc giải tỏa căng thẳng hiệu quả nhất.</div>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-4 item-newsWrap">
                    <div class="item-news">
                        <figure>
                            <a href="#"><img class="lazyload" data-src="/img/tintuc/nhansudieuhanhmoi.png" src="/img/tintuc/nhansudieuhanhmoi.png" alt="Tin tuc"></a>
                            <figcaption>
                                <div class="title-news clearfix">
                                    <h4>Tin Vietbank</h4>
                                    <time>2016-04-13</time>
                                </div>
                                <h3><a href="#">Vietbank phân công nhân sự điều hành mới</a></h3>
                                <div class="brief">Hội đồng Quản trị Ngân hàng Việt Nam Thương Tín (Vietbank) vừa có quyết định bổ nhiệm ông Nguyễn Đăng Thanh, hiện là phó tổng giám đốc...</div>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-lg-4 item-newsWrap">
                    <div class="item-news">
                        <figure>
                            <a href="#"><img class="lazyload" data-src="/img/tintuc/vuihexuyenviet.png" src="/img/tintuc/vuihexuyenviet.png" alt="Tin tuc"></a>
                            <figcaption>
                                <div class="title-news clearfix">
                                    <h4>TIN KHUYẾN MÃI</h4>
                                    <time>2016-04-13</time>
                                </div>
                                <h3><a href="#">Chương trình KM “Quà giải nhiệt - Vui hè xuyên Việt”</a></h3>
                                <div class="brief">Sau những ngày làm việc vất vả, những chuyến du lịch, nghỉ dưỡng bốn phương luôn là liều thuốc giải tỏa căng thẳng hiệu quả nhất.</div>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
            <div class="pages newspaper">
                <ul class="pagination">
                    <li class="active"><span>1</span></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                </ul>
            </div>
        </div>
    </section>
</main>
