@model VietbankWebsite.ModelMap.InterestRate
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    Layout = "~/Views/Shared/_LayoutEnterprise.cshtml";
}

<section class="banner-wrap">
    <section class="breadcrumb-wrap">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ol class="breadcrumb mrt-10">
                        <li><a href="@Localizer["EnterpriseUrl"]">@Localizer["EnterpriseName"]</a></li>
                        <li><a href="@Localizer["SupportUrl"]">@Localizer["SupportName"]</a></li>
                        <li class="active"><span style="color:#999;">@Model.Title</span></li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="banner-page imageBanner">
        <div style="background-image:url('@Model.Image')" class="imgBg"></div>
        <div class="desc">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-5 col-lg-5 col-xl-5">
                        <h1 class="title">@Model.Title</h1>
                        <div class="content">@Model.Description</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<main>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-3">
                <partial name="~/Views/Partial/_ToolCalulationEnterpriseBar.cshtml" />
            </div>
            <div class="col-xs-12 col-lg-9">
                <section class="hotro-ct">
                    <h1 class="title">@Model.Title                                                                                                                                                                                                </h1>
                    <div class="tab-content">
                        <div role="tabpanel" class="thetindung tab-pane active" id="3946">
                            <div class="bieumau-bieuphi">
                                <div class="item-bieumau">
                                    @foreach (var item in Model.InterestRateItems)
                                    {
                                        <div class="item-bieumau">@Html.Raw(item.Content)</div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</main>
