@model IEnumerable<VietbankWebsite.ModelMap.TopThreeNewsToCate>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["PromotionNews"];
    Layout = "~/Views/Shared/_LayoutEnterprise.cshtml";
}

<section class="banner-wrap">
    <section class="breadcrumb-wrap brown">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <ol class="breadcrumb mrt-10">
                        <li><a href="@Localizer["EnterpriseUrl"]">@Localizer["EnterpriseName"]</a></li>
                        <li style="color: #999;" class="active"><strong>@Localizer["PromotionNews"]</strong></li>
                    </ol>
                </div>
            </div>
        </div>
    </section>
    <section class="VietBank-bg">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h1 class="blue">@Localizer["PromotionNews"]                                                                                                                                                                                            </h1>
                </div>
            </div>
        </div>
    </section>
</section>
<section class="news-special">
    <div class="container">
        <div class="slider">
            <div class="owl-carousel">
                @foreach (var news in Model)
                {
                    <div class="item-newspecial">
                        <div class="row">
                            <div class="col-xs-12 col-md-8">
                                <div class="thumb">
                                    <a href="@news.Url">
                                        <img class="lazyload" data-src="@news.Thumbnail" src="@news.Thumbnail" alt="@news.Title">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-4">
                                <div class="title-news">
                                    <h4>Tin mới nhất</h4>
                                    <time>@news.PublishDate.ToString("dd/MM/yyyy")</time>
                                </div>
                                <h1 class="title"><a href="@news.Url">@news.Title</a></h1>
                                <div class="brief">@Html.Raw(news.Description)</div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<main>
    <section class="news-list">
        <div class="container">
            <div id="lst-news" class="row flex flex-wrap"></div>
            <div class="pages newspaper">
                <ul id="pagination" class="pagination">
                </ul>
            </div>
        </div>
    </section>
</main>
@section Scripts{
    <script src="~/page/enterprise-promotion-news.js"></script>
}